messaging/src/main/resources/fhir-xsd/immunizationrecommendation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2011-2013, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Wed, Dec 11, 2013 15:13+1100 for FHIR v0.12 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="0.12">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="ImmunizationRecommendation" type="ImmunizationRecommendation">
    <xs:annotation>
      <xs:documentation>A patient's point-of-time immunization status and recommendation with optional supporting justification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ImmunizationRecommendation">
    <xs:annotation>
      <xs:documentation>A patient's point-of-time immunization status and recommendation with optional supporting justification.</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Resource">
        <xs:sequence>
          <xs:element name="subject" minOccurs="1" maxOccurs="1" type="ResourceReference">
            <xs:annotation>
              <xs:documentation>The patient who is the subject of the profile.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="recommendation" type="ImmunizationRecommendation.Recommendation" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Vaccine administration recommendations.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImmunizationRecommendation.Recommendation">
    <xs:annotation>
      <xs:documentation>A patient's point-of-time immunization status and recommendation with optional supporting justification.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="recommendationDate" minOccurs="1" maxOccurs="1" type="dateTime">
            <xs:annotation>
              <xs:documentation>The date of the immunization recommendation.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="vaccineType" minOccurs="1" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>Vaccine that pertains to the recommendation.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="doseNumber" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>Recommended dose number.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="forecastStatus" minOccurs="1" maxOccurs="1" type="ImmunizationForecastStatus">
            <xs:annotation>
              <xs:documentation>Vaccine administration status.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="dateCriterion" type="ImmunizationRecommendation.DateCriterion" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Vaccine date recommentations - e.g. earliest date to administer, latest date to administer, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="protocol" type="ImmunizationRecommendation.Protocol" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Contains information about the protocol under which the vaccine was administered.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="supportingImmunization" minOccurs="0" maxOccurs="unbounded" type="ResourceReference">
            <xs:annotation>
              <xs:documentation>Immunization event history that supports the status and recommendation.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="supportingAdverseEventReport" type="ImmunizationRecommendation.SupportingAdverseEventReport" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Adverse event report information that supports the status and recommendation.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="supportingPatientObservation" minOccurs="0" maxOccurs="unbounded" type="ResourceReference">
            <xs:annotation>
              <xs:documentation>Patient observation that supports the status and recommendation.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImmunizationRecommendation.DateCriterion">
    <xs:annotation>
      <xs:documentation>A patient's point-of-time immunization status and recommendation with optional supporting justification.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="code" minOccurs="1" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>Date classification of recommendation - e.g. earliest date to give, latest date to give, etc.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="value" minOccurs="1" maxOccurs="1" type="dateTime">
            <xs:annotation>
              <xs:documentation>Date recommendation.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImmunizationRecommendation.Protocol">
    <xs:annotation>
      <xs:documentation>A patient's point-of-time immunization status and recommendation with optional supporting justification.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="doseSequence" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation>Nominal position in a series.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>Contains the description about the protocol under which the vaccine was administered.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="authority" minOccurs="0" maxOccurs="1" type="ResourceReference">
            <xs:annotation>
              <xs:documentation>Indicates the authority who published the protocol?  E.g. ACIP.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="series" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>One possible path to achieve presumed immunity against a disease - within the context of an authority.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImmunizationRecommendation.SupportingAdverseEventReport">
    <xs:annotation>
      <xs:documentation>A patient's point-of-time immunization status and recommendation with optional supporting justification.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="identifier" minOccurs="1" maxOccurs="unbounded" type="id">
            <xs:annotation>
              <xs:documentation>Unique identifier of the adverse event report.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reportType" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation>Advers event report classification.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reportDate" minOccurs="0" maxOccurs="1" type="dateTime">
            <xs:annotation>
              <xs:documentation>The date of the adverse event report.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="text" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation>The content of the adverse event report.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="reaction" minOccurs="0" maxOccurs="unbounded" type="ResourceReference">
            <xs:annotation>
              <xs:documentation>The documented reaction described in the adverse event report.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ImmunizationForecastStatus-list">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DUE">
        <xs:annotation>
          <xs:documentation>This immunization is due to be given now.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ImmunizationForecastStatus">
    <xs:annotation>
      <xs:documentation>The patient's status with respect to a vaccination protocol</xs:documentation>
      <xs:documentation>If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="ImmunizationForecastStatus-list" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
